.study-card {
  perspective: 600px;
}

.study-card-inner {
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.study-card-flipped {
  transform: rotateY(180deg);
}

.study-card-inner > [data-face="front"],
.study-card-inner > [data-face="back"] {
  backface-visibility: hidden;
}

.study-card-inner > [data-face="back"] {
  position: absolute;
  inset: 0;
  transform: rotateY(180deg);
}
